apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ "{{" }} .Release.Name {{ "}}" }}
  labels:
    app: {{ "{{" }} .Release.Name {{ "}}" }}
spec:
  replicas: {{ "{{" }} .Values.replicaCount {{ "}}" }}
  selector:
    matchLabels:
      app: {{ "{{" }} .Release.Name {{ "}}" }}
  template:
    metadata:
      labels:
        app: {{ "{{" }} .Release.Name {{ "}}" }}
    spec:
      {{- "{{" }}- if .Values.image.pullSecret {{ "}}" }}
      imagePullSecrets:
        - name: {{ "{{" }} .Values.image.pullSecret {{ "}}" }}
      {{- "{{" }}- end {{ "}}" }}
      containers:
        - name: {{ "{{" }} .Release.Name {{ "}}" }}
          image: "{{ "{{" }} .Values.image.repository {{ "}}" }}:{{ "{{" }} .Values.image.tag {{ "}}" }}"
          imagePullPolicy: {{ "{{" }} .Values.image.pullPolicy {{ "}}" }}
          ports:
            - containerPort: {{ .Port }}
          env: {{ "{{" }}- toYaml .Values.env | nindent 12 {{ "}}" }}
          {{- "{{" }}- if .Values.externalSecret.enabled {{ "}}" }}
          envFrom:
            - secretRef:
                name: {{ "{{" }} .Release.Name {{ "}}" }}-secrets
                optional: true
          {{- "{{" }}- end {{ "}}" }}
          resources: {{ "{{" }}- toYaml .Values.resources | nindent 12 {{ "}}" }}
          readinessProbe:
            tcpSocket:
              port: {{ .Port }}
            initialDelaySeconds: 5
            periodSeconds: 10
