apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Slug }}
  namespace: {{ .Slug }}-dev
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: {{ .Slug }}
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
