replicaCount: 1

image:
  repository: ghcr.io/{{ .Owner }}/{{ .Slug }}
  pullPolicy: Always
  tag: "latest"
  pullSecret: "ghcr-secret"

service:
  type: ClusterIP
  port: {{ .Port }}

ingress:
  enabled: true
  className: nginx
  host: {{ .Slug }}.local

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

env: []

externalSecret:
  enabled: true
  storeRef: vault-backend
  refreshInterval: 1m
